section.about
	.container.about__container 
		h2.about__title.show 
			span.title-text Почему выбирают Доброзайм
		.swiper.about__swiper(thumbsslider='')
			.swiper-wrapper
				.swiper-slide
					.about__btn.btn-green 2021
				.swiper-slide
					.about__btn.btn-green 2020
				.swiper-slide
					.about__btn.btn-green 2019
				.swiper-slide
					.about__btn.btn-green 2018
				.swiper-slide
					.about__btn.btn-green 2017
				.swiper-slide
					.about__btn.btn-green 2016
				.swiper-slide
					.about__btn.btn-green 2015
				.swiper-slide
					.about__btn.btn-green 2014
				.swiper-slide
					.about__btn.btn-green 2013
				.swiper-slide
					.about__btn.btn-green 2012
				.swiper-slide
					.about__btn.btn-green 2011
		.swiper.about__swiper2
			.swiper-wrapper
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
				.swiper-slide
					.about__body 
						.about__nums 
							.about__num 
								span 23
								p офиса
							.about__num 
								span 110 000
								p выдано микро кредитов
							.about__num 
								span 2,8
								p млрд. руб. объем займов
							.about__num 
								span 370
								p чел. штат компании
						ul.about__list
							li.about__item По РФ запуск выдачи по телефону:
							li.about__item Размер портфеля привлеченных инвестиций 534 270 922 рублей;
							li.about__item Выдано 214 358 микрозаймов, что на 121% больше 2020 года;
							li.about__item 2021г закрыт с рекордной прибылью 76 млн. руб.
