section.accounting
	.container 
		h2.accounting__title.show 
			span.title-text Отчетность за предыдущие годы
			span.line.show
		.accounting__body.accounting__body-desktop 
			.accounting__left 
				.accounting__item 
					.accounting__card.card.spoiler 
						.accounting__card-title.spoiler__title.active  2022
							span
						.accounting__content.spoiler__content.active  
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/e73/u0hh2fie7ld1z4b3j3nrmufxfyd0o0yu/Bukhgalterskaya-_finansovaya_-otchyetnost-IKH-mes.-2022g.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность IХ мес. 2022г
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/260/wm9vtw7lvr7xdw26w4qk9eul8g9togul/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2022.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I полугодие 2022г
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/7b7/on2elcdvsogydte2y5e69hyrb6zqq0mi/Bukhgalterskaya-_finansovaya_-otchetnost-I-kvartal-2022g..pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I квартал 2022г
				.accounting__item 
					.accounting__card.card.spoiler  
						.accounting__card-title.spoiler__title 2020
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/142/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2020g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность годовая 2020г, включая Аудиторское заключение
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/9dd/Bukhgalterskaya-_finansovaya_-otchyetnost-IKH-mes.-2020g.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность IХ мес. 2020г
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/8bd/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2020.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I полугодие 2020г
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/9b1/Bukhgalterskaya-_finansovaya_-otchetnost-I-kvartal-2020g-.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I квартал 2020г
				.accounting__item 
					.accounting__card.card.spoiler  
						.accounting__card-title.spoiler__title 2018
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/4ac/Bukhgalterskaya-_finansova_-otchyetnost-godovaya-2018g._-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность годовая 2018г. включая Аудиторское заключение 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/02d/Bukhgalterskaya-_finansovaya_-otchyetnost-I-kvartal-2018g.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность IХ мес. 2018г.
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/a06/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2018g.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I полугодие 2018г 
				.accounting__item 
					.accounting__card.card.spoiler  
						.accounting__card-title.spoiler__title 2016
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/investicii-v-microzajmy/#w_referring_place=green_menu" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность годовая 2016г. включая Аудиторское заключение 
				.accounting__item 
					.accounting__card.card.spoiler  
						.accounting__card-title.spoiler__title 2014
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/751/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2014g.-vklyuchaya-Auditorskoe-zaklyuchenie..pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность годовая 2014г. включая Аудиторское заключение. 
			.accounting__right 
				.accounting__item 
					.accounting__card.card.spoiler  
						.accounting__card-title.spoiler__title 2021
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/e17/juzmcesjpwccestqqgay6do94o220j0g/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2021g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность годовая 2021г, включая Аудиторское заключение
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/bf9/0c6gosxg7flbdrazlbye1ynyk6gpna9p/Bukhgalterskaya-_finansovaya_-otchyetnost-IKH-mes.-2021g.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность IХ мес. 2021г
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/594/xa3zv9pszsz77xv8dahi76nybydasmhu/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2021-_1_.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I полугодие 2021г
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/4fe/_-_-_-I-_-2021_.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I квартал 2021г
				.accounting__item 
					.accounting__card.card.spoiler  
						.accounting__card-title.spoiler__title 2019
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/f7b/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2019g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность годовая 2019г. включая Аудиторское заключение 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/f29/Bukhgalterskaya-_finansovaya_-otchyetnost-IKH-mes.-2019g..pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность IХ мес. 2019г.
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/fe8/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2019.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I полугодие 2019г 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/08b/Bukhgalterskaya-_finansovaya_-otchyetnost-I-kvartal-2019g-_1_.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I квартал 2019г 
				.accounting__item 
					.accounting__card.card.spoiler  
						.accounting__card-title.spoiler__title 2017
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/5a1/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2017g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность годовая 2017г, включая Аудиторское заключение
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/6dd/Bukhgalterskaya-_finansovaya_-otchyetnost-za-IX-mes.-2017g.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность IХ мес. 2017г
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/392/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2017g.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчетность I полугодие 2017г
				.accounting__item 
					.accounting__card.card.spoiler 
						.accounting__card-title.spoiler__title 2015
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/d7f/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2015g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность годовая 2015г. включая Аудиторское заключение 
				.accounting__item 
					.accounting__card.card.spoiler  
						.accounting__card-title.spoiler__title 2013
							span
						.accounting__content.spoiler__content 
							a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/213/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2013g.pdf" target="_blank") 
								img(src="images/accounting/file.svg", alt="alt")
								p Бухгалтерская (финансовая) отчётность годовая 2013г
		
		
		
		.accounting__body.accounting__body-mobile 
			.accounting__item 
				.accounting__card.card.spoiler.active  
					.accounting__card-title.spoiler__title.active   2022
						span
					.accounting__content.spoiler__content.active   
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/e73/u0hh2fie7ld1z4b3j3nrmufxfyd0o0yu/Bukhgalterskaya-_finansovaya_-otchyetnost-IKH-mes.-2022g.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность IХ мес. 2022г
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/260/wm9vtw7lvr7xdw26w4qk9eul8g9togul/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2022.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I полугодие 2022г
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/7b7/on2elcdvsogydte2y5e69hyrb6zqq0mi/Bukhgalterskaya-_finansovaya_-otchetnost-I-kvartal-2022g..pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I квартал 2022г
			.accounting__item 
				.accounting__card.card.spoiler  
					.accounting__card-title.spoiler__title 2021
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/e17/juzmcesjpwccestqqgay6do94o220j0g/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2021g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность годовая 2021г, включая Аудиторское заключение
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/bf9/0c6gosxg7flbdrazlbye1ynyk6gpna9p/Bukhgalterskaya-_finansovaya_-otchyetnost-IKH-mes.-2021g.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность IХ мес. 2021г
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/594/xa3zv9pszsz77xv8dahi76nybydasmhu/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2021-_1_.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I полугодие 2021г
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/4fe/_-_-_-I-_-2021_.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I квартал 2021г
			.accounting__item 
				.accounting__card.card.spoiler  
					.accounting__card-title.spoiler__title 2020
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/142/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2020g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность годовая 2020г, включая Аудиторское заключение
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/9dd/Bukhgalterskaya-_finansovaya_-otchyetnost-IKH-mes.-2020g.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность IХ мес. 2020г
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/8bd/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2020.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I полугодие 2020г
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/9b1/Bukhgalterskaya-_finansovaya_-otchetnost-I-kvartal-2020g-.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I квартал 2020г
			.accounting__item 
				.accounting__card.card.spoiler  
					.accounting__card-title.spoiler__title 2019
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/f7b/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2019g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность годовая 2019г. включая Аудиторское заключение 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/f29/Bukhgalterskaya-_finansovaya_-otchyetnost-IKH-mes.-2019g..pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность IХ мес. 2019г.
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/fe8/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2019.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I полугодие 2019г 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/08b/Bukhgalterskaya-_finansovaya_-otchyetnost-I-kvartal-2019g-_1_.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I квартал 2019г 
			.accounting__item 
				.accounting__card.card.spoiler  
					.accounting__card-title.spoiler__title 2018
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/4ac/Bukhgalterskaya-_finansova_-otchyetnost-godovaya-2018g._-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность годовая 2018г. включая Аудиторское заключение 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/02d/Bukhgalterskaya-_finansovaya_-otchyetnost-I-kvartal-2018g.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность IХ мес. 2018г.
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/a06/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2018g.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I полугодие 2018г 
			.accounting__item 
				.accounting__card.card.spoiler  
					.accounting__card-title.spoiler__title 2017
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/5a1/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2017g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность годовая 2017г, включая Аудиторское заключение
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/6dd/Bukhgalterskaya-_finansovaya_-otchyetnost-za-IX-mes.-2017g.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность IХ мес. 2017г
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/392/Bukhgalterskaya-_finansovaya_-otchyetnost-I-polugodie-2017g.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I полугодие 2017г
			.accounting__item 
				.accounting__card.card.spoiler  
					.accounting__card-title.spoiler__title 2016
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/investicii-v-microzajmy/#w_referring_place=green_menu" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность годовая 2016г. включая Аудиторское заключение 
			.accounting__item 
				.accounting__card.card.spoiler 
					.accounting__card-title.spoiler__title 2015
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/d7f/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2015g.-vklyuchaya-Auditorskoe-zaklyuchenie.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность годовая 2015г. включая Аудиторское заключение 
			.accounting__item 
				.accounting__card.card.spoiler  
					.accounting__card-title.spoiler__title 2014
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/751/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2014g.-vklyuchaya-Auditorskoe-zaklyuchenie..pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность годовая 2014г. включая Аудиторское заключение. 
			.accounting__item 
				.accounting__card.card.spoiler  
					.accounting__card-title.spoiler__title 2013
						span
					.accounting__content.spoiler__content 
						a.accounting__content-item(href="https://dobrozaim.ru/upload/iblock/213/Bukhgalterskaya-_finansovaya_-otchyetnost-godovaya-2013g.pdf" target="_blank") 
							img(src="images/accounting/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчётность годовая 2013г
