section.boss
	.container 
		.boss__body.show
			.boss__left  
				.boss__info 
					.boss__img 
						img(src="images/boss/1.png", alt="alt")
					.boss__info-inner 
						.boss__name Ирина Афанасьева
						.boss__pos Руководитель отдела инвестиций
						.boss__tel 
							img(src="images/boss/1.svg", alt="alt")
							a(href="tel:8007009416") 8 (800) 700-94-16
						.boss__time 8:00 - 18:00 МСК
						.boss__email 
							img(src="images/boss/2.svg", alt="alt")
							a(href="mailto:investor@dobrozaim.ru") investor@dobrozaim.ru
				p «Работаем на рынке с 2011 года, занимаем лидирующие позиции, входим в 2% МФО, которые обладают статусом МФК. Инвестируя в надёжную компанию, вы будете получать высокую и регулярную прибыль.» Обратитесь ко мне для подбора оптимальной инвестиционной программы!

			.boss__right 
				form.form.card(action="") 
					.form__input
						input(type="text" placeholder="Ваше имя")
					.form__input
						input(type="tel" placeholder="Введите ваш номер телефона")
					.form__agreement 
						span.form__agreement-agree 
						p Согласен с 
							a(href="#") политикой конфиденциальности
					button.form__btn.btn-orange Перезвоните мне
