section.chart
	.container 
		.chart__btns 
			a.chart__btn.click.active(href="#chart__img1") График выдач по количествуву 
			a.chart__btn.click(href="#chart__img2") График выдач по сумме 
		.chart__body 
			#chart__img1.chart__img.active 
				img(src="images/chart/1.svg", alt="alt")
			#chart__img2.chart__img 
				img(src="images/chart/1.svg", alt="alt")