section.doc
	.container 
		h2.show 
			span.title-text Работаем по закону
		p.show Компания «ДоброЗайм» обладает всеми необходимыми документами для работы на микрофинансовом рынке:
		.doc__body 
			.line-green.show
			.doc__left 
				.doc__left-items 
					a.doc__left-item(href="" download) 
						figure
							img(src="images/doc/file.svg", alt="alt")
							p Правила привлечения денежных средств 
								span DOCX, 51.3 KB
					a.doc__left-item(href="" download) 
						figure
							img(src="images/doc/file.svg", alt="alt")
							p Информация об условиях привлечения займов и(или) кредитов (инвестирования) 
								span DOCX, 26.6 KB
					a.doc__left-item(href="" download) 
						figure
							img(src="images/doc/file.svg", alt="alt")
							p Договор займа с физ.лицомDOCX, 28.8 KBДоговор с физ.лицом (Надёжный +) 
								span DOCX, 28.8 KB
					a.doc__left-item(href="" download) 
						figure
							img(src="images/doc/file.svg", alt="alt")
							p Сведения о существенных факта 
								span DOCX, 30.9 KB
					a.doc__left-item(href="" download) 
						figure
							img(src="images/doc/file.svg", alt="alt")
							p Бухгалтерская (финансовая) отчетность I квартал 2022г 
								span DOCX, 14.3 KB


			.doc__right 
				.doc__right-items
					a.doc__right-item(href="images/doc/1.png" data-caption="1OOO МКК «ДоброЗайм Быстрое решение»" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc 1OOO МКК «ДоброЗайм Быстрое решение»
					a.doc__right-item(href="images/doc/1.png" data-caption="Свидетельство участника Союза «Микрофинансовый Альянс»" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc Свидетельство участника Союза «Микрофинансовый Альянс»
					a.doc__right-item(href="images/doc/1.png" data-caption="Свидетельство о регистрации ООО МФК Саммит" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc Свидетельство о регистрации ООО МФК Саммит
					a.doc__right-item(href="images/doc/1.png" data-caption="Свидетельство участника СРО «Мир»" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc Свидетельство участника СРО «Мир»
					a.doc__right-item(href="images/doc/1.png" data-caption="Свидетельство о присоединении к системе финансового омбудсмена" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc Свидетельство о присоединении к системе финансового омбудсмена
					a.doc__right-item(href="images/doc/1.png" data-caption="OOO МКК «ДоброЗайм Быстрое решение»" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc OOO МКК «ДоброЗайм Быстрое решение»
					a.doc__right-item(href="images/doc/1.png" data-caption="OOO МКК «ДоброЗайм Быстрое решение»" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc OOO МКК «ДоброЗайм Быстрое решение»
					a.doc__right-item(href="images/doc/1.png" data-caption="OOO МКК «ДоброЗайм Быстрое решение»" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc OOO МКК «ДоброЗайм Быстрое решение»
					a.doc__right-item(href="images/doc/1.png" data-caption="OOO МКК «ДоброЗайм Быстрое решение»" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc OOO МКК «ДоброЗайм Быстрое решение»
					a.doc__right-item(href="images/doc/1.png" data-caption="OOO МКК «ДоброЗайм Быстрое решение»" data-fancybox="gallery") 
						figure
							.doc__right-img
								img(src="images/doc/1.png", alt="alt")
							p.doc__right-desc OOO МКК «ДоброЗайм Быстрое решение»


