section.faq
	.container 
		h2.faq__title.show 
			span.title-text Часто задаваемые вопросы
			span.line.show
		.faq__items 
			.faq__item.spoiler
				.faq__subtitle.spoiler__title.active Почему мы не тратим ваши деньги на страховку?
					span
				.spoiler__content.active 
					p С самого начала вложение денежных средств в микрофинансовые организации рассматривалось законодательством РФ как способ получить прибыль для опытных инвесторов, которые хорошо понимают рынок. Порог минимальной суммы вложений весьма высок – 1.5 млн рублей. Поэтому не удивительно, что инвесторы хотят обезопасить себя от риска потерять деньги. В таком случае слово «страховка» имеет весьма высокий градус убеждения, но так ли она необходима?

					p Те редкие компании, которые предлагают страховые услуги, страхуют лишь предпринимательские риски, при этом страховые компании не несут ответственность за любые другие форс – мажорные обстоятельства.

					p Например, если Банк России исключает МФО из государственного реестра микрофинансовых организаций, то страховая компания не будет нести никакой ответственности перед инвестором. Данная ситуация не будет являться страховым случаем, а это значит инвестор не получит страховой выплаты. Стоит отметить и тот факт, что, в настоящий момент, не зафиксировано прецедента в выплате страховой компенсации инвестору, застраховавшего риски инвестирования в МФО.

					p Поэтому «ДоброЗайм» не сотрудничает со страховыми компаниями и не включает страховку в пакет своих услуг, экономя деньги, время, силы и нервы своих инвесторов. Но, по желанию инвестора, мы готовы добавить условие страхования в договор займа, при этом инвестор может самостоятельно выбрать страховую компанию.

					p Наша компания – отличный вариант для ваших инвестиций. Это доказывает ее история развития с 2011 года и долгосрочное сотрудничество с нашими инвесторами по всей России с 2015г.
			.faq__item.spoiler
				.faq__subtitle.spoiler__title Какие преимущества у вашей компании?
					span
				.spoiler__content 
					p С самого начала вложение денежных средств в микрофинансовые организации рассматривалось законодательством РФ как способ получить прибыль для опытных инвесторов, которые хорошо понимают рынок. Порог минимальной суммы вложений весьма высок – 1.5 млн рублей. Поэтому не удивительно, что инвесторы хотят обезопасить себя от риска потерять деньги. В таком случае слово «страховка» имеет весьма высокий градус убеждения, но так ли она необходима?

					p Те редкие компании, которые предлагают страховые услуги, страхуют лишь предпринимательские риски, при этом страховые компании не несут ответственность за любые другие форс – мажорные обстоятельства.

					p Например, если Банк России исключает МФО из государственного реестра микрофинансовых организаций, то страховая компания не будет нести никакой ответственности перед инвестором. Данная ситуация не будет являться страховым случаем, а это значит инвестор не получит страховой выплаты. Стоит отметить и тот факт, что, в настоящий момент, не зафиксировано прецедента в выплате страховой компенсации инвестору, застраховавшего риски инвестирования в МФО.

					p Поэтому «ДоброЗайм» не сотрудничает со страховыми компаниями и не включает страховку в пакет своих услуг, экономя деньги, время, силы и нервы своих инвесторов. Но, по желанию инвестора, мы готовы добавить условие страхования в договор займа, при этом инвестор может самостоятельно выбрать страховую компанию.

					p Наша компания – отличный вариант для ваших инвестиций. Это доказывает ее история развития с 2011 года и долгосрочное сотрудничество с нашими инвесторами по всей России с 2015г.
			.faq__item.spoiler
				.faq__subtitle.spoiler__title Собираетесь ли вы понижать ставки для инвесторов, как делают сейчас топовые компании?
					span
				.spoiler__content 
					p С самого начала вложение денежных средств в микрофинансовые организации рассматривалось законодательством РФ как способ получить прибыль для опытных инвесторов, которые хорошо понимают рынок. Порог минимальной суммы вложений весьма высок – 1.5 млн рублей. Поэтому не удивительно, что инвесторы хотят обезопасить себя от риска потерять деньги. В таком случае слово «страховка» имеет весьма высокий градус убеждения, но так ли она необходима?

					p Те редкие компании, которые предлагают страховые услуги, страхуют лишь предпринимательские риски, при этом страховые компании не несут ответственность за любые другие форс – мажорные обстоятельства.

					p Например, если Банк России исключает МФО из государственного реестра микрофинансовых организаций, то страховая компания не будет нести никакой ответственности перед инвестором. Данная ситуация не будет являться страховым случаем, а это значит инвестор не получит страховой выплаты. Стоит отметить и тот факт, что, в настоящий момент, не зафиксировано прецедента в выплате страховой компенсации инвестору, застраховавшего риски инвестирования в МФО.

					p Поэтому «ДоброЗайм» не сотрудничает со страховыми компаниями и не включает страховку в пакет своих услуг, экономя деньги, время, силы и нервы своих инвесторов. Но, по желанию инвестора, мы готовы добавить условие страхования в договор займа, при этом инвестор может самостоятельно выбрать страховую компанию.

					p Наша компания – отличный вариант для ваших инвестиций. Это доказывает ее история развития с 2011 года и долгосрочное сотрудничество с нашими инвесторами по всей России с 2015г.
			.faq__item.spoiler
				.faq__subtitle.spoiler__title Возможно ли досрочно вернуть сумму вложенных средств без потери процентов?
					span
				.spoiler__content 
					p С самого начала вложение денежных средств в микрофинансовые организации рассматривалось законодательством РФ как способ получить прибыль для опытных инвесторов, которые хорошо понимают рынок. Порог минимальной суммы вложений весьма высок – 1.5 млн рублей. Поэтому не удивительно, что инвесторы хотят обезопасить себя от риска потерять деньги. В таком случае слово «страховка» имеет весьма высокий градус убеждения, но так ли она необходима?

					p Те редкие компании, которые предлагают страховые услуги, страхуют лишь предпринимательские риски, при этом страховые компании не несут ответственность за любые другие форс – мажорные обстоятельства.

					p Например, если Банк России исключает МФО из государственного реестра микрофинансовых организаций, то страховая компания не будет нести никакой ответственности перед инвестором. Данная ситуация не будет являться страховым случаем, а это значит инвестор не получит страховой выплаты. Стоит отметить и тот факт, что, в настоящий момент, не зафиксировано прецедента в выплате страховой компенсации инвестору, застраховавшего риски инвестирования в МФО.

					p Поэтому «ДоброЗайм» не сотрудничает со страховыми компаниями и не включает страховку в пакет своих услуг, экономя деньги, время, силы и нервы своих инвесторов. Но, по желанию инвестора, мы готовы добавить условие страхования в договор займа, при этом инвестор может самостоятельно выбрать страховую компанию.

					p Наша компания – отличный вариант для ваших инвестиций. Это доказывает ее история развития с 2011 года и долгосрочное сотрудничество с нашими инвесторами по всей России с 2015г.
			.faq__item.spoiler
				.faq__subtitle.spoiler__title Должен ли инвестор платить налог с полученных средств?
					span
				.spoiler__content 
					p С самого начала вложение денежных средств в микрофинансовые организации рассматривалось законодательством РФ как способ получить прибыль для опытных инвесторов, которые хорошо понимают рынок. Порог минимальной суммы вложений весьма высок – 1.5 млн рублей. Поэтому не удивительно, что инвесторы хотят обезопасить себя от риска потерять деньги. В таком случае слово «страховка» имеет весьма высокий градус убеждения, но так ли она необходима?

					p Те редкие компании, которые предлагают страховые услуги, страхуют лишь предпринимательские риски, при этом страховые компании не несут ответственность за любые другие форс – мажорные обстоятельства.

					p Например, если Банк России исключает МФО из государственного реестра микрофинансовых организаций, то страховая компания не будет нести никакой ответственности перед инвестором. Данная ситуация не будет являться страховым случаем, а это значит инвестор не получит страховой выплаты. Стоит отметить и тот факт, что, в настоящий момент, не зафиксировано прецедента в выплате страховой компенсации инвестору, застраховавшего риски инвестирования в МФО.

					p Поэтому «ДоброЗайм» не сотрудничает со страховыми компаниями и не включает страховку в пакет своих услуг, экономя деньги, время, силы и нервы своих инвесторов. Но, по желанию инвестора, мы готовы добавить условие страхования в договор займа, при этом инвестор может самостоятельно выбрать страховую компанию.

					p Наша компания – отличный вариант для ваших инвестиций. Это доказывает ее история развития с 2011 года и долгосрочное сотрудничество с нашими инвесторами по всей России с 2015г.
			.faq__item.spoiler
				.faq__subtitle.spoiler__title Принимаете ли вы инвестиции от самозанятых?
					span
				.spoiler__content 
					p С самого начала вложение денежных средств в микрофинансовые организации рассматривалось законодательством РФ как способ получить прибыль для опытных инвесторов, которые хорошо понимают рынок. Порог минимальной суммы вложений весьма высок – 1.5 млн рублей. Поэтому не удивительно, что инвесторы хотят обезопасить себя от риска потерять деньги. В таком случае слово «страховка» имеет весьма высокий градус убеждения, но так ли она необходима?

					p Те редкие компании, которые предлагают страховые услуги, страхуют лишь предпринимательские риски, при этом страховые компании не несут ответственность за любые другие форс – мажорные обстоятельства.

					p Например, если Банк России исключает МФО из государственного реестра микрофинансовых организаций, то страховая компания не будет нести никакой ответственности перед инвестором. Данная ситуация не будет являться страховым случаем, а это значит инвестор не получит страховой выплаты. Стоит отметить и тот факт, что, в настоящий момент, не зафиксировано прецедента в выплате страховой компенсации инвестору, застраховавшего риски инвестирования в МФО.

					p Поэтому «ДоброЗайм» не сотрудничает со страховыми компаниями и не включает страховку в пакет своих услуг, экономя деньги, время, силы и нервы своих инвесторов. Но, по желанию инвестора, мы готовы добавить условие страхования в договор займа, при этом инвестор может самостоятельно выбрать страховую компанию.

					p Наша компания – отличный вариант для ваших инвестиций. Это доказывает ее история развития с 2011 года и долгосрочное сотрудничество с нашими инвесторами по всей России с 2015г.
			.faq__item.spoiler
				.faq__subtitle.spoiler__title Где можно скачать образец договора?
					span
				.spoiler__content 
					p С самого начала вложение денежных средств в микрофинансовые организации рассматривалось законодательством РФ как способ получить прибыль для опытных инвесторов, которые хорошо понимают рынок. Порог минимальной суммы вложений весьма высок – 1.5 млн рублей. Поэтому не удивительно, что инвесторы хотят обезопасить себя от риска потерять деньги. В таком случае слово «страховка» имеет весьма высокий градус убеждения, но так ли она необходима?

					p Те редкие компании, которые предлагают страховые услуги, страхуют лишь предпринимательские риски, при этом страховые компании не несут ответственность за любые другие форс – мажорные обстоятельства.

					p Например, если Банк России исключает МФО из государственного реестра микрофинансовых организаций, то страховая компания не будет нести никакой ответственности перед инвестором. Данная ситуация не будет являться страховым случаем, а это значит инвестор не получит страховой выплаты. Стоит отметить и тот факт, что, в настоящий момент, не зафиксировано прецедента в выплате страховой компенсации инвестору, застраховавшего риски инвестирования в МФО.

					p Поэтому «ДоброЗайм» не сотрудничает со страховыми компаниями и не включает страховку в пакет своих услуг, экономя деньги, время, силы и нервы своих инвесторов. Но, по желанию инвестора, мы готовы добавить условие страхования в договор займа, при этом инвестор может самостоятельно выбрать страховую компанию.

					p Наша компания – отличный вариант для ваших инвестиций. Это доказывает ее история развития с 2011 года и долгосрочное сотрудничество с нашими инвесторами по всей России с 2015г.