section.hero
	video(loop='loop' muted='muted' src='images/hero/hero.mp4' autoplay='' poster='')
	.container 
		.hero__body
			h1 
				span Инвестируйте и зарабатывайте
			p Выгодные инвестиции в ООО МФК «Саммит» — доход до 18% годовых