section.news 
	.container 
		h2.news__title.show 
			span.title-text новости
			span.line.show 
		.news__body
			.news__swiper.swiper 
				.swiper-wrapper 
					.news__slide.swiper-slide 
						.show.news__card.card 
							.news__img 
								img(src="images/news/1.jpg", alt="alt")
							.news__date 16.11.2022
							p Общее собрание участников МФК «Саммит»  выбрало двух новых членов Совета директоров и одобрило программу облигаций на сумму 3 млрд рублей.
							a.news__read-all(href="") Читать полностью
					.news__slide.swiper-slide 
						.show.news__card.card 
							.news__img 
								img(src="images/news/1.jpg", alt="alt")
							.news__date 16.11.2022
							p Общее собрание участников МФК «Саммит»  выбрало двух новых членов Совета директоров и одобрило программу облигаций на сумму 3 млрд рублей.
							a.news__read-all(href="") Читать полностью
					.news__slide.swiper-slide 
						.show.news__card.card 
							.news__img 
								img(src="images/news/1.jpg", alt="alt")
							.news__date 16.11.2022
							p Общее собрание участников МФК «Саммит»  выбрало двух новых членов Совета директоров и одобрило программу облигаций на сумму 3 млрд рублей.
							a.news__read-all(href="") Читать полностью
					.news__slide.swiper-slide 
						.show.news__card.card 
							.news__img 
								img(src="images/news/1.jpg", alt="alt")
							.news__date 16.11.2022
							p Общее собрание участников МФК «Саммит»  выбрало двух новых членов Совета директоров и одобрило программу облигаций на сумму 3 млрд рублей.
							a.news__read-all(href="") Читать полностью
					.news__slide.swiper-slide 
						.show.news__card.card 
							.news__img 
								img(src="images/news/1.jpg", alt="alt")
							.news__date 16.11.2022
							p Общее собрание участников МФК «Саммит»  выбрало двух новых членов Совета директоров и одобрило программу облигаций на сумму 3 млрд рублей.
							a.news__read-all(href="") Читать полностью
					.news__slide.swiper-slide 
						.show.news__card.card 
							.news__img 
								img(src="images/news/1.jpg", alt="alt")
							.news__date 16.11.2022
							p Общее собрание участников МФК «Саммит»  выбрало двух новых членов Совета директоров и одобрило программу облигаций на сумму 3 млрд рублей.
							a.news__read-all(href="") Читать полностью
				.swiper-scrollbar