section.rate
	.container 
		.rate__header.show 
			span.line.show
			h2.show 
				span.title-text.show Наши ставки
			p.show Пересчет процентов происходит за весь срок пользования денежными средствами. В случае возникновения переплаты инвестору (при досрочном изъятии), сумма переплаты удерживается из суммы основного долга.
		.rate__items 
			.show.card.rate__item.rate__item1 
				.rate__column1
					h3 Продукт<br> Стабильный
					.btn-orange.btn-rate1 Инвестировать
				.rate__column2
					.rate__column2-title Ежемесячно/Капитализация
					p Досрочное изьятие с уведомлением за 30 календарных дней до момента возврата (после 6 мес.) с пересчетом -3%
				.rate__column3 
					.rate__column3-row 
						span 6-12 мес.
						span 15%
					.rate__column3-row 
						span 13-24 мес.
						span 16%
					.rate__column3-row 
						span Более 24 мес.
						span 18%
			.show.card.rate__item 
				.rate__column1 
					h3 Продукт<br> Надежный
					.btn-orange.btn-rate2 Инвестировать
				.rate__column2
					.rate__column2-title Ежемесячно/Капитализация
					p Досрочное изьятие в течении 3-х рабочих дней без потери процентов
				.rate__column3 
					.rate__column3-row 
						span 12%
			.show.card.rate__item 
				.rate__column1 
					h3 Продукт<br> Надежный
					.btn-orange.btn-rate3 Инвестировать
				.rate__column2
					.rate__column2-title Ежемесячно/Капитализация
					p Досрочное изьятие в любой момент в течении 30 рабочих дней без потери процентов
				.rate__column3 
					.rate__column3-row 
						span 14%
	.popup.popup-rate1
		.popup__bg
		.popup__container.card 
			.popup__close
			.popup__title Оставьте заявку1
			span Наш менеджер свяжется с вами для консультации
			form.popup__form(action="") 
				.popup__input 
					input(type="text" placeholder="Ваше имя" required)
				.popup__input 
					input(type="tel" placeholder="Введите ваш номер телефона" required)
				.popup__agreement 
					span.popup__agreement-agree.agreement-agree
					p Согласен 
						a(href="" target="_blank") с политикой конфиденциальности
				button.popup__btn.btn-orange Отправить
	.popup.popup-rate2
		.popup__bg
		.popup__container.card 
			.popup__close
			.popup__title Оставьте заявку2
			span Наш менеджер свяжется с вами для консультации
			form.popup__form(action="") 
				.popup__input 
					input(type="text" placeholder="Ваше имя" required)
				.popup__input 
					input(type="tel" placeholder="Введите ваш номер телефона" required)
				.popup__agreement 
					span.popup__agreement-agree.agreement-agree
					p Согласен 
						a(href="" target="_blank") с политикой конфиденциальности
				button.popup__btn.btn-orange Отправить
	.popup.popup-rate3
		.popup__bg
		.popup__container.card 
			.popup__close
			.popup__title Оставьте заявку3
			span Наш менеджер свяжется с вами для консультации
			form.popup__form(action="") 
				.popup__input 
					input(type="text" placeholder="Ваше имя" required)
				.popup__input 
					input(type="tel" placeholder="Введите ваш номер телефона" required)
				.popup__agreement 
					span.popup__agreement-agree.agreement-agree
					p Согласен 
						a(href="" target="_blank") с политикой конфиденциальности
				button.popup__btn.btn-orange Отправить
