section.reviews
	.popup.popup-reviews
		.popup__bg
		.popup__container.card 
			.popup__close
			.popup__title Оставьте Отзыв
			span Наш менеджер свяжется с вами для консультации
			form.popup__form(action="") 
				.popup__input 
					input(type="text" placeholder="Ваше имя")
				.popup__input 
					input(type="tel" placeholder="Введите ваш номер телефона")
				.popup__agreement 
					span.popup__agreement-agree.agreement-agree
					p Согласен 
						a(href="") с политикой конфиденциальности
				button.popup__btn.btn-orange Отправить
	.container 
		h2.reviews__title.show 
			span.title-text Отзывы наших инвесторов
			span.line.show
		.reviews__items-wrapper
			.reviews__items 
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card1" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card1.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card2" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card2.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
							p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card3" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card3.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card4" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card4.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card5" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card5.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card6" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card6.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card7" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card7.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card8" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card8.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card9" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card9.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card10" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card10.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card11" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card11.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
				.reviews__item

					a.reviews__card.card.show(href="#reviews__card12" data-fancybox="gallery1") 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...
						.reviews__read-more Читать полностью 
					#reviews__card12.reviews__card.card 
						span.reviews__card-name
							|Евгений Анатольевич Д.
						span г. Москва
						p Мы с мужем сотрудничаем с компанией «Саммит» четыре года. И не разу не пожалели об этом. В процессе сотрудничества мы увеличили сумму вложений. На протяжении всего периода ...

			
			
			

		.reviews__btns 
			.reviews__btn.btn-white Показать еще
			.reviews__btn.btn-orange Добавить отзыв
