.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: -120%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	transition: all 0.3s ease 0s;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__container {
		padding: 80px 40px;
		position: absolute;
		width: 544px;
		max-width: 100%;
		max-height: 100vh;
		overflow: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media (max-width: 400px){
			border-radius: 0;
		}
		>span {
			display: block;
			margin-top: 16px;
		}
	}
	&__title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 140%;
		text-transform: uppercase;
		color: #222222;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		top: 40px;
		right: 40px;
		width: 24px;
		height: 24px;
		background: url('../images/calculator/x.svg') 0 0 no-repeat;
	}
	&__form {
		margin-top: 40px;
	}
	&__input {
		background: #FCFCFC;
		border: 1px solid #E7E7E7;
		border-radius: 2px;
		margin-top: 16px;
		input {
			border-radius: 2px;
			padding: 16px;
			width: 100%;
			height: 100%;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 145%;
			color: #A4A4A4;
		}
	}
	&__agreement {
		margin-top: 16px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 145%;
		color: #5E5E5E;
		display: flex;
		&-agree {
			cursor: pointer;
			min-width: 16px;
			min-height: 16px;
			width: 16px;
			height: 16px;
			display: block;
			background: #FCFCFC;
			border: 1px solid #A4A4A4;
			border-radius: 4px;
			position: relative;
			transition: all 0.3s ease 0s;
			&::before{
				content:'';
				transition: all 0.3s ease 0s;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 9px;
				height: 6.5px;
				transform: translate(-50%, -50%);
				opacity: 0;
				background: url('../images/calculator/check.svg') 0 0 / 100% 100% no-repeat;
			}
			&:hover{
				box-shadow: 0px 0px 0px 3px rgba(2, 201, 141, 0.15);
			}
			&.active {
				&::before{
					opacity: 1;
				}
			}
		}
		p {
			margin-left: 10px;
			a {
				text-decoration-line: underline;
			}
		}
	}
	&__btn {
		width: 100%;
		cursor: pointer;
		margin-top: 40px;
	}


	&.active {
		top: 0;
	}
}