extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/hero 
	include ../blocks/calculator
	include ../blocks/rate
	include ../blocks/about
	include ../blocks/chart 
	include ../blocks/reviews 
	include ../blocks/boss 
	include ../blocks/doc 
	include ../blocks/faq 
	include ../blocks/accounting 
	include ../blocks/news  
	include ../blocks/last  